# React Native
node_modules/
.expo/
.expo-shared/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store

# Metro
.metro-health-check*

# Buck
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Android
android/app/build/
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Temporary files
tmp/
temp/

# Logs
*.log

# CodeQL
_codeql_detected_source_root
